<!--_____________________________________SKILLS____________________________________-->
<div uk-scrollspy="cls: uk-animation-slide-right">

    <!-- Header -->
    <h2>HTML</h2>

    <!-- Accordion -->
    <ul uk-accordion="">

        <!-- Template -->
        
        <li>
            <a class="uk-accordion-title" href="#"><i class=""></i>&nbsp;&nbsp;&nbsp;</a>
            <div class="uk-accordion-content uk-grid">
                <div class="uk-width-1-6@l uk-width-1-4@s uk-width-1-2">
                    <p></p>
                    <br>
                </div>
                <div class="uk-width-1-6@l uk-width-1-4@s uk-width-1-2">
                    <p></p>
                </div>
                
            </div>
        </li>

    </ul>

</div>
<br><br>